server:
  port: 9900

spring:
  application:
    name: retail-suite-ui
  config:
    import: optional:configserver:${CONFIG_SERVER_URI:http://user:password@localhost:8888}
  cloud:
    compatibility-verifier:
      enabled: false
    gateway:
      routes:
        - id: stores
          uri: ${STORE_SERVICE_URI:http://localhost:8081}
          predicates:
            - Path=/stores/**
        - id: customers
          uri: ${CUSTOMER_SERVICE_URI:http://localhost:9000}
          predicates:
            - Path=/customers/**
        - id: root
          uri: no://op
          predicates:
            - Path=/
          filters:
            - RedirectTo=302, /index.html#/customers
    loadbalancer:
      ribbon:
        enabled: false

logging:
  level:
    com.netflix.discovery: 'OFF'

eureka:
  instance:
    leaseRenewalIntervalInSeconds: 10
    metadataMap:
      instanceId: ${vcap.application.instance_id:${spring.application.name}:${spring.application.instance_id:${server.port}}}
  client:
    registryFetchIntervalSeconds: 5

management:
  security:
    enabled: false
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
